@{
    ViewData["Title"] = "Hello Page";
}

<style>
    .image-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
    }

        .image-container img {
            max-width: 45%;
            cursor: pointer;
        }
</style>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
  
     <h4>home page</h4>
  
</div>
